html
  head
    meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    css:
      body {
        padding: 0;
        margin: 0;
      }

      .recommends {
        clear: both;
        padding-top: 10px;
        padding-left: 20px;
      }

      .recommends ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .recommends li {
        float: left;
        margin-bottom: 16px;
        width: 120px;
      }

      .recommends li a, .recommends li a:visited {
        color: #000;
        zoom: 1;
        font-size: 12px;
        text-align: center;
        text-decoration: none;                
      }

      .recommends li a:hover {
        text-decoration: underline;
        color: #1a9850;
      }

      .recommends li a .thumbnail {
        margin-bottom: 5px;
      }

      .recommends li a span {
        display: block;
        height: 20px;
      }

      .thumbnail img {
        height: 90px;
        width: 120px;      
      }

  body
    .recommends
      ul
        - referer = request.referer || ''
        - domain = URI(referer).host rescue ''
        - time = Time.now.strftime('%Y%m%d%H')
        - @recommends.each_with_index do |joke, i|
          / - gap = ((i + 1) == @number) ? 0 : @gap
          li style="margin-right: #{@gap}px;"
            a href="#{joke_path(joke, hmsr: @hmsr || '', hmmd: domain, hmpl: time, hmkw: SecureRandom.hex(8), hmci: referer)}" title="#{joke.title.presence || joke.content.truncate(80)}" target="_blank"
              .thumbnail
                img src="#{joke.photos.first.thumb.url}" alt="#{joke.title.presence || joke.content.truncate(80)}"
              span= (joke.title.presence || joke.content).truncate(8, omission: '')
     