$brand-danger: #7a4624;
// $navbar-border-radius: 0;
// $nav-pills-border-radius: 0;
$nav-pills-active-link-hover-bg: #FFF;
// $panel-border-radius: 0;
$border-radius-base: 0;
$brand-primary: $brand-danger;
$text-color: #454545;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mobile/jokes";
@import "mobile/tags";
@import "mobile/users";

@each $margin in 2, 5, 10, 15, 20, 25, 30, 50 {
  .ml-#{$margin} { margin-left: #{$margin}px; }
  .mr-#{$margin} { margin-right: #{$margin}px; }
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
}

body {
  background-color: #F1F1F1;
  background: #F1F1F1 image-url('giftly.png') repeat;
  font-family: "微软雅黑","microsoft yahei",verdana,lucida,Arial,sans-serif,"黑体";
  // padding-top: 111px;
}

a, a:visited {
  text-decoration: none;
}

.btn {
  border-radius: 0;
}

.panel {
  border: none;
  .panel-body { padding: 10px 10px; }
  .panel-footer {
    border-top: 1px solid #e9e9e9;
    background-color: #fafafa;
  }
}

.input-lg {
  border-radius: 0px;
}

.kx-logo {
  display: inline-block;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  background-image: image-url('logo_small.png');
}

.brand-name {
  display: inline-block;
  height: 20px;
  margin: 0px auto;
  font-size: 20px;
  color: $brand-primary;
}

.header-container {
  // position: fixed;
  // left: 0;
  // top: 0;
  width: 100%;
  z-index: 9999;
}

.header {
  text-align: center;
  padding: 10px 10px;
  background-color: #ffd52b;
  &, a { color: #FFF; }
}

.header a.menu-toggle, a.plus {
  font-size: 21px;
  color: #FFFDF7;
  width: 20px;
  display: inline-block;
}

// .dropdown-menu {
//   background-color: #ffd52b;
//   color: $brand-danger;
//   border: none;
//   box-shadow: none;
//   & > li > a {
//     color: $brand-danger;
//   }
//   li.divider {
//     background-color: $brand-danger;
//     height: 2px;
//   }
// }

.header-nav {
  z-index: 9999;
}

.header-nav ul.nav {
  border-bottom: 1px solid #DCDCDC;
  background-color: #FFF;

  li {
    width: 20%;
    margin-left: 0px;
    text-align: center;
    font-size: 16px;
  }

  li.active {

  }

  li a, li.active a {
    height: 100%;
    color: $brand-danger;
    border-bottom: 4px solid #FFF;

    &:hover {
      background-color: #FFF;
    }
  }

  li.active a {
    border-bottom: 4px solid $brand-danger;
  }
}

.main-container { margin-top: 10px; }
.footer {
  margin-top: 40px;
  margin-bottom: 40px;
}
