.joke-item {
  .user .avatar { margin-right: 10px; }
  .avatar img { border-radius: 20px; }
  .user .name { padding-top: 10px; }

  .content { 
    display: block;
    margin-top: 10px; 
    color: #333;
  } 
  .content h4 { margin-top: 0px; }
  .content .body { line-height: 26px; }
  .content .body img { max-width: 100%; }

  .tags { margin-top: 10px; }
  .tags a { 
    margin-right: 10px; 
    font-size: 12px; 
  }

  .paginate {
    margin-top: 10px;
    text-align: center;
  }

  .action-bar {
    a { 
      color: #999999; 
      margin-right: 10px;
    }

    i { 
      font-size: 24px; 
      margin-right: 2px;
    }
  }
}

.comment-list { 
  &.panel .panel-body {
    padding: 0px ;
  }

  .avatar img { border-radius: 20px; }
  .body { margin-left: 10px; }

  .post-comment { background-color: #FAFAFA; }
  .post-comment input {
    border-radius: 0px;
  }

  .list-group {
    margin-bottom: 0px;
  }
}