.joke-item {
  .user {}

  .user .avatar { margin-right: 10px; }
  .avatar img { border-radius: 20px; }
  .user .name { padding-top: 10px; }

  .content { 
    display: block;
    margin-top: 10px; 
    color: #333;
  } 

  .content h4 { margin-top: 0px; }
  .content .body {
    line-height: 26px;
  }
  .content .body img {
    max-width: 100%;
  }

  .action-bar {
    a { 
      color: #999999; 
      margin-right: 10px;
    }

    i { 
      font-size: 24px; 
      margin-right: 2px;
    }
  }
}