var button = '<a class="btn btn-info btn-xs" data-method="POST" data-remote="true" href="<%= recommend_admin_joke_path(@joke) %>">推荐</a>';

$("tr.joke-item-<%= @joke.id %>").find('.recommend').empty().append(button);