body {
  font: #{$body-font-size}/1.4 $body-font;
  color: $brand-gray;
  background-color: #DDD;
}

input,
select,
textarea,
button {
  font: #{$body-font-size}/1.4 $body-font;
}

a {
  text-decoration: none;
  color: $brand-red;

  &:hover, &:active {
    color: darken($brand-red, 5%);
    text-decoration: underline;
  }
}

hr,
.rule {
  height: 0;
  margin: 15px 0;
  _margin: 8px 0;
  *margin: 8px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  @include clearfix();
}