body {
  color: $brand-gray;
}

input,
select,
textarea,
button {
  font: #{$body-font-size}/1.4 $body-font;
}

a {
  text-decoration: none;
  color: $brand-red;

  &:hover, &:active {
    color: darken($brand-red, 5%);
    text-decoration: underline;
  }
}