.main {
  @include clearfix;  
  width: 1000px;
  margin: 20px auto;
}

.footer {
  @include clearfix;
  margin-bottom: 40px;    
}

.main .left-side {
  float: left;
  width: 670px;
  margin-right: 30px;
}

.main .right-side {
  float: left;
  width: 300px;
}

.box {
  @include clearfix;
  background-color: #FFF;
  margin-bottom: 20px;
  width: 100%; 

  .box-header {
    @include clearfix;

    background-color: #fafafa;
    padding: 15px 15px;
    border-bottom: 1px solid #f3f2f2;

    h3 {
      float: left;
      margin: 0px 0px;
    }

    a.more {
      float: right;
      color: #999;
    }
  }

  .box-content {
    @include clearfix;
    padding: 15px 15px !important;
  }
}
