@mixin clearfix {
  & {
    zoom: 1;
  }

  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// Works in ie6, 7
@mixin iePngTrans ($path) {
  _background: transparent;
　_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="#{image-path($path)}");    
}

// Width Hack ie 6,7,8
@mixin ieWidth ($width) {
  _width: $width;
  *width: $width;
  width: #{$width}\0;
}

@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
