@mixin clearfix {
  & {
    zoom: 1;
  }

  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// Works in ie6, 7
@mixin iePngTrans ($path) {
  _background: transparent;
　_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="#{image-path($path)}");    
}
