$brand-gray: #666666 !default;
$brand-gray-light: #999999 !default;
$brand-red: #EB6868 !default;
$brand-red-light: #FF8F8F !default;
$brand-blue: #0DBBE0 !default;
$brand-green: #6cc644 !default;
$brand-orange:     #f93    !default;

// Font stack
$body-font: "微软雅黑","microsoft yahei",verdana,lucida,Arial,sans-serif,"黑体";

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// The base body size
$body-font-size: 13px !default;