$brand-gray: #666666 !default;
$brand-gray-light: #999999 !default;
$brand-red: #EB6868 !default;

// Font stack
$body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// The base body size
$body-font-size: 13px !default;