$primary-grey: #666;
$primary-red: #864814;

@import "compass/reset";

@mixin bg-img($path, $w: 24px, $h: 26px) {
  background-image: image-url($path);
  background-repeat: none;
  width: $w;
  height: $h;  
}

a {
  text-decoration: none;
  color: $primary-red;

  &:hover {
    color: darken($primary-red, 5%);
    text-decoration: underline;
  }
}

// Icon
span.icon {
  display: inline-block;
}

span.icon-up-vote {
  @include bg-img('up_vote.png');
}

span.icon-down-vote {
  @include bg-img('down_vote.png');
}

// Form
input {
  border: 1px solid #DDD;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 8px;
}

.clearfix {
  @include clearfix;  
}