@import "kx/kx";
@import "helpers";
@import "jokes";
@import "comments";
@import "users";

body {
  background-color: #F1F1F1;
  background: #F1F1F1 image-url('giftly.png') repeat;
}

.header .header-nav {
  @include clearfix;
  width: 1000px;
  height: 90px;
  margin: 0 auto;

  .search {
    float: right;
    position: relative;
    margin-top: 25px;
  }

  .search .kx.kx-zoom {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
  }
}

.right-side .image-list {
  li {
    margin-right: 0px;
  }

  li.odd {
    margin-right: 30px;
  }
}

.right-side .oauth {
  text-align: center;
}

.right-side .login {
  text-align: center;

  span.text-muted {
    margin: 0 5px;
  }
}

.right-side .replies {
  .nickname {
    width: 220px;
  }

  span.text-muted {
    font-size: 10px;
    margin-left: 10px;
  }
}

.copy-right {
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  padding-top: 10px;
  border-top: 1px dotted #CCC;
}
