@import "kx/kx";
@import "helpers";
@import "jokes";

body {
  background-color: #F1F1F1;
}

.header {
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #e3e2e1;
}

.header .header-nav {
  @include clearfix;
  width: 1000px;
  height: 90px;
  margin: 0 auto;

  .logo {
    float: left;    
    width: 204px;
    height: 60px;
    margin-top: 15px;
    background-image: image-url('logo_v7.png');
  }

  ul {
    @include clearfix;
    list-style: none;
    float: left;
    height: 60px;
    margin-top: 15px;
    margin-left: 20px;
  }

  ul li {
    float: left;
    height: 60px;
    width: 90px;
    text-align: center;
  }

  ul li a {
    font-size: 20px;
    line-height: 60px;
    display: block;
    color: #666;

    &.dropdown-toggle {
      width: 90px;
      background: url('sprit.png') -18px -25px no-repeat;
    }

    &:hover {
      text-decoration: none;
      color: $brand-red;
    }
  }

  .search {
    float: right;
    position: relative;
    margin-top: 25px;
  }

  .search input {
    width: 200px;
  }

  .search .search-icon {
    background-image: image-url('sprit.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
  }
}

.main {
  width: 1000px;
  min-height: 200px;
  margin: 20px auto;
  @include clearfix;
}

.main .left {
  float: left;
  width: 670px;
  margin-right: 30px;
  min-height: 100px;
}

.main .right-bar {
  float: left;
  width: 300px;
  min-height: 100px;
  background-color: #FFF;
}