.comment-list .box-header {
  h3 {
    float: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #EDEDED;
  }

  .require-login {
    .left a { margin-right: 5px; }
    .right a { margin-left: 10px; }
  }

  .post-comment {
    @include clearfix;
    width: 100%;
    position: relative;
  }

  .post-comment .text-danger {
    margin-top: 5px;
  }

  .post-comment textarea {
    width: 100%;
    height: 80px;    

    @include borderBox;
    // IE hack
    @include ieWidth(622px);
  }

  .post-comment .limit {
    position: absolute;
    right: 10px;
    bottom: 70px;
    color: #999;

    span.divider {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .post-comment a.btn {
    float: right;
    margin-top: 10px;
  }
}

.comment-list ul.comments.text-list li {
  padding: 15px 0px;
  position: relative;

  i.kx.kx-light-up {
    position: absolute;
    right: 100px;
    top: 10%;
  }
}

.comments .left {
  width: 440px;
  overflow: hidden;

  .nickname .text-muted {
    font-size: 12px;
    margin-left: 10px;
  }

  .nickname p { margin-top: 5px; }
}

.comments .right {
  text-align: right;

  a.reply { display: none; }

  a, span {
    font-size: 12px;
    display: inline-block;
    float: left;
  }

  a { margin-right: 20px; }
}

.fast-comment {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #DDD;
  .input-field { position: relative; }
  .text-danger {
    font-size: 12px;
    margin-top: 5px;
  }

  .limit {
    position: absolute;
    right: 140px;
    bottom: 5px;
    color: #999;

    span.divider {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  textarea {
    @include borderBox;
    width: 510px;
    @include ieWidth(498px);
    height: 42px !important;
    _height: 20px !important;
    *height: 20px !important;
    height: 20px\0 !important;
    border-radius: 0px;
  }

  .btn {
    width: 100px;
    font-size: 16px;
    border-radius: 0px;
  }
}
