// .no-border-bottom {
//   border-bottom: none;
// }

// .no-border {
//   border: none;
// }

@each $side in 'left', 'right', 'top', 'bottom' {
  .no-margin-#{$side} { margin-#{$side}: 0px !important; }
  .no-border-#{$side} { border-#{side}: none; }
}

@each $margin in 2, 5, 10, 15, 20, 25, 30, 50 {
  .ml-#{$margin} { margin-left: #{$margin}px; }
  .mr-#{$margin} { margin-right: #{$margin}px; }
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
}

@each $padding in 2, 5, 10, 15, 20, 25, 30, 50 {
  .pl-#{$padding} { padding-left: #{$padding}px; }
  .pr-#{$padding} { padding-right: #{$padding}px; }
  .pt-#{$padding} { padding-top: #{$padding}px; }
  .pb-#{$padding} { padding-bottom: #{$padding}px; }
}

@mixin bg-img($w: 24px, $h: 24px, $path: 'sprite.png') {
  background-image: image-url($path);
  background-repeat: no-repeat;
  width: $w;
  height: $h;
}

// Icon
i.kx {
  display: inline-block;
  margin-right: 2px;

  &.kx-loading {
    background-image: image-url('loading.gif');
    background-repeat: no-repeat;
    width: 160px;
    height: 20px;
    background-color: transparent;
  }

  &.kx-weibo {
    @include bg-img(19px, 15px);
    background-position: -25px 0px;
  }

  &.kx-weibo-colorful {
    @include bg-img(19px, 15px);
    background-position: 0px 0px;
  }

  &.kx-up-vote {
    @include bg-img;
    background-position: -32px -33px;
  }  

  &.kx-down-vote {
    @include bg-img;
    background-position: -62px -33px;
  }

  &.kx-up-voted {
    @include bg-img;
    background-position: 0px -33px;
  }

  &.kx-down-voted {
    @include bg-img;
    background-position: 0px -94px;
  }    

  &.kx-comment {
    @include bg-img(26px, 26px);
    background-position: -98px -32px;
  }

  &.kx-commented {
    @include bg-img(26px, 26px);
    background-position: -98px -92px;
  }  

  &.kx-commented-colorful {
    @include bg-img(26px, 26px);
    background-position: -98px -32px;
  }    

  &.kx-qq {
    @include bg-img(16px, 16px);
    background-position: -76px 0px;
  }

  &.kx-qq-colorful {
    @include bg-img(16px, 16px);
    background-position: -52px 0px;
  }

  &.kx.kx-light-up {
    @include bg-img(61px, 60px, 'light_up.png');
  }  

  &.kx.kx-next {
    @include bg-img(179px, 90px, 'next.png');
  }

  &.kx.kx-prev {
    @include bg-img(178px, 59px, 'prev.png');
  }

  &.kx.kx-zoom {
    @include bg-img(16px, 15px);
    background-position: -121px 0px;
  }

  &.kx-up-voted-sm {
    @include bg-img(16px, 16px);
    background-position: -97px 0px;
  }  

  &.kx-pencil {
    @include bg-img;
    background-position: -137px -33px;
  }

  &.kx-profile {
    @include bg-img(13px, 15px);
    background-position: -33px -94px;
  }

  &.kx-logout {
    @include bg-img(14px, 15px);
    background-position: -2px -68px;
  }  
}

// Avatar
.avatar {
  @include clearfix;
  
  a {
    color: $brand-red;
  }
  
  img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  &.small img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  .nickname {
    float: left;
    margin-left: 10px;
    width: 400px;
    line-height: 20px;
  }

  .nickname p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;    
  }  
}
