@mixin bg-img($path, $w: 24px, $h: 24px) {
  background-image: image-url($path);
  background-repeat: no-repeat;
  width: $w;
  height: $h;
}

// Icon
i.kx {
  display: inline-block;
  margin-right: 2px;

  &.kx-up-vote {
    @include bg-img('up_vote.png');
  }

  &.kx-down-vote {
    @include bg-img('down_vote.png');
  }

  &.kx-comment {
    @include bg-img('comment.png', 26px, 26px);
  }

  &.kx-up-voted {
    @include bg-img('up_vote_dark.png');
  }

  &.kx-pencil {
    @include bg-img('pencil.png');
  }

  &.kx-weibo {
    @include bg-img('weibo.png', 19px, 15px);
  }

  &.kx-qq {
    @include bg-img('qq.png', 15px, 16px);
  }  
}

// Avatar
.avatar {
  @include clearfix;

  img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  &.small img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  .nickname {
    float: left;
    margin-left: 10px;
    width: 400px;
    line-height: 20px;
  }
}

