.joke-item {
  background-color: #FFF;
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 20px;
}

.joke-item .user {
  @include clearfix;
  padding: 15px 15px 0px 15px;
}

.joke-item .content {
  margin-top: 15px;
  padding: 0px 15px 15px 15px;

  h4 {
    margin-bottom: 10px;
  }

  .body {
    line-height: 28px;

    img {
      max-width: 640px;
    }
  }

  .comment {
    margin-top: 20px;
    font-size: 12px;
  }

  .comment .comment-nav {
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #e2e2e2;
    overflow: visible;    
  }

  .comment .comment-nav span {
    display: block;
    padding: 0 5px;
    background: #fff;
    position: absolute;
    z-index: 5;
    margin-left: 10px;
    color: #b5b5b5;
    height: 14px;
    line-height: 14px;
    margin-top: -7px;    
  }

  .comment .comment-body {
    @include clearfix;
    position: relative;
    margin-top: 20px;
  }

  .comment-body .likes {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $brand-gray-light;
  }
}

.joke-item .operation {
  @include clearfix;
  padding: 15px 15px;
  background-color: #fafafa;
  border-top: 1px solid #f3f2f2;

  a {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: $brand-gray-light;
  }
}

ul.recommend {
  li { margin-right: 10px; }
  li.no-margin {
    margin-right: 0px;
  }
}