.joke-item {
  background-color: #FFF;
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 20px;
}

.joke-item .user {
  @include clearfix;
  padding: 15px 15px 0px 15px;
}

.joke-item .content {
  padding: 0px 15px 15px 60px;

  h4 {
    &, a { color: #666; }
    margin-bottom: 10px;
    span {
      font-size: 14px;
      margin-left: 5px;
      color: $brand-red-light;
    }
  }

  .body {
    line-height: 28px;

    img {
      max-width: 460px;
    }

    .photo {
      margin-top: 10px;
    }
  }

  .paginate {
    margin-top: 10px;
  }

  .paginate a {
    display: inline-block;
    vertical-align: middle;
    &.prev {
      margin-right: 50px;
    }
  }

  .tags a {
    margin-right: 10px;
    font-size: 12px;
    // color: #777;
  }

  .comment {
    margin-top: 20px;
    font-size: 12px;
  }

  .comment .comment-nav {
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #e2e2e2;
    overflow: visible;    
  }

  .comment .comment-nav span {
    display: block;
    padding: 0 5px;
    background: #fff;
    position: absolute;
    z-index: 5;
    margin-left: 10px;
    color: #b5b5b5;
    height: 14px;
    line-height: 14px;
    margin-top: -7px;    
  }

  .comment .comment-body {
    @include clearfix;
    position: relative;
    margin-top: 20px;
  }

  .comment-body .likes {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $brand-gray-light;
  }
}

.joke-item .operation {
  @include clearfix;
  padding: 15px 15px;
  background-color: #fafafa;
  border-top: 1px solid #f3f2f2;

  & > .left {
    a {
      float: left;
      margin-right: 20px;
      font-size: 14px;
      color: $brand-gray-light;
    }
  }

  .right a {
    float: right;
    margin: 0;
    margin-left: 10px;    
    &.bds_more { display: none; }
  }
}

ul.recommend {
  li { margin-right: 10px; }
  li.no-margin {
    margin-right: 0px;
  }
}

.jokes-new, .jokes-create {
  .new-joke .form {
    padding: 10px 10px !important;

    .form-control {
      width: 100%;
      @include ieWidth(600px);
      border-radius: 0px;
      background: #F9F9F9;
    }

    textarea { height: 300px; }    

    .form-group { margin-bottom: 0px; }

    .form-group.body {
      margin-top: -1px;
      _margin: -3px 0px 0px 0px !important;
      *margin: -3px 0px 0px 0px !important;
    }

    .form-group.opt {
      @include clearfix;
      border: 1px solid #ccc;
      border-top: none;
      padding: 15px 10px !important;
      background: #F9F9F9;
      @include ieWidth(596px);
    }

    .opt input.file, .opt input.checkbox {
      font-size: 12px;
      margin-left: 5px;
    }

    .submit {
      margin-top: 20px;
    }
  }
}

.box.recommend-ad {
  padding: 10px 10px;
  width: 650px;
}

// 瀑布流
.box.grid {
  @include clearfix;
  // display: none;
  // visibility: hidden;
  background-color: transparent;

  .grid-item {
    width: 230px;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    float: left;
    margin-right: 10px;
  }

  .grid-item .picture {
    background-color: #fff;
    padding: 10px 0px;

    .img {
      text-align: center;
      display: block;
      height: 200px;
      overflow: hidden;

      img {
        vertical-align: middle;
        // min-height: 200px;
      }
    }

    .operation {
      text-align: left;
      margin-left: 10px;
    }
  }

  .adHolder .picture {
    text-align: center;
  }

  .grid-item .title {
    border-top: 1px solid #dcdcdc;
    background-color: #f8f8f8;
    padding: 10px 10px;
    img { 
      border-radius: 15px;
    }    
  }
}

.loading-holder {
  width: 200px;
  margin: 0 auto;
}

// .pagination-box {
//   text-align: center;
//   margin: 10px auto;
// }

